#message-board {
  width: 50px;
  height: 147px;
  position: fixed;
  z-index: 8;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  top: 30%;
  right: 15px;
  background-image: radial-gradient(
    circle at 23% 29%,
    #0a1b2b,
    #0b2142 19%,
    #0c2552 91%,
    #0d2d6f 131%,
    #0e3693 144%
  );
}
