.side-main-link-container {
  height: 37.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: #ffffff solid 1px;
}

.side-main-link-container > a {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.side-main-link-container > a:hover {
  color: #ffffff;
}

.side-main-link-container img {
  width: 25px;
  height: 25px;
}

.side-nav-drop {
  display: flex;
  flex-direction: column;
  height: 0px;
  overflow-y: hidden;
  transition: 0.3s ease;
}

.side-nav-drop > li {
  height: 35px;
  display: flex;
  align-items: stretch;
  border-bottom: #ffffff solid 0.5px;
}

.side-nav-drop-link {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.side-nav-drop-link:hover {
  color: #ffffff;
}

.side-nav-drop-list-enter {
  transform: translateY(-100%);
  transition: 0.3s ease;
}

.side-nav-drop-list-enter.side-nav-drop-list-enter-active {
  transform: translateY(0%);
}

.side-nav-drop-list-leave {
  transform: translateY(0%);
  transition: 0.3s ease;
}

.side-nav-drop-list-leave.side-nav-drop-list-leave-active {
  transform: translateY(-100%);
}
