#about-us {
  max-width: 570px;
  height: 255px;
  margin: auto;
  margin-top: -50px;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0;
  background-color: #ffffff;
}

#about-us > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-basis: 40%;
}
