.advantage-item-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  width: 240px;
  height: 150px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border: solid 1px #e6e6e5;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.advantage-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advantage-subtitle > div:nth-child(1) {
  margin-right: 5px;
}

.advantage-subtitle img {
  width: 25px;
  height: 25px;
}

.advantage-subtitle p {
  border-bottom: solid 1px #1f40e6;
  white-space: pre-line;
}
