.compliment-item {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  box-shadow: 4px 10px 9px 0 rgba(0, 0, 0, 0.3), -9px -10px #f6f6f7;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 50px;
}

.compliment-item > div:nth-child(1) {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compliment-item p {
  text-align: center;
}
