.navigation {
  width: 100%;
  height: 83px;
  position: fixed;
  z-index: 9;
}

.navigation_wrap {
  width: 100%;
  height: 83px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_icon_open {
  display: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
}

.nav_icon_open > img {
  width: 25px;
  height: 25px;
}

.main_page_container {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-right: 25px;
}

.main_page_container img {
  width: 105px;
  height: 45px;
}

.nav_addition {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.nav_addition a {
  width: 24px;
  height: 24px;
}

.nav_addition img {
  width: 24px;
  height: 24px;
}

.wechat {
  margin-right: 25px;
}

.nav_links > li > a {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.nav_links > li > a:hover {
  color: #4272d7 !important;
  border-bottom: #4272d7 solid 8px;
  border-top: transparent solid 8px;
}
