#navigation {
  width: 100%;
  height: 83px;
  position: fixed;
  z-index: 9;
  background-color: var(--nav-bg-color);
}

#navigation-wrap {
  width: 100%;
  height: 83px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-icon-open {
  display: none;
  width: 25px;
  height: 25px;
  background-color: var(--nav-bg-color);
}

#nav-icon-open > img {
  width: 25px;
  height: 25px;
}

#main-page-container {
  display: flex;
  justify-self: center;
  align-items: center;
  margin-right: 25px;
}

#main-page-container img {
  width: 105px;
  height: 45px;
}

#nav-links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: stretch;
}

#nav-links > li {
  position: relative;
  margin-right: 25px;
}

#nav-links > li > a {
  display: flex;
  align-items: center;
  align-self: stretch;
  color: var(--nav-link-color);
}

#nav-links > li > a:hover {
  color: #4272d7;
  border-bottom: #4272d7 solid 8px;
  border-top: transparent solid 8px;
}

#nav-addition {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

#nav-addition a {
  width: 24px;
  height: 24px;
}

#nav-addition img {
  width: 24px;
  height: 24px;
}

#wechat {
  margin-right: 25px;
}

.nav-scrolled {
  --nav-link-color: #505050;
  --nav-bg-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
