#message {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  z-index: 8;
  width: 257px;
  height: 262px;
  top: 30%;
  right: 71px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

#message > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 80%;
}

#message textarea {
  height: 69px;
  border: solid 1px #e6e6e5;
  background-color: #ffffff;
}

#message input {
  height: 25px;
  border: solid 1px #e6e6e5;
  background-color: #ffffff;
}

#message button {
  height: 25px;
  border: solid 1px #4272d7;
  background-color: #ffffff;
  text-align: center;
  color: #4272d7;
}

#message button:active {
  background-color: #4272d7;
  color: #ffffff;
}
