#team-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

#team-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#team-content::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  height: 78%;
  width: 1px;
  background-color: #1f40e6;
}

#team-image-con {
  display: flex;
  justify-content: center;
  align-items: center;
}

#team-image {
  max-width: 100%;
  height: auto;
}
